<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="home">
      <div class="intro blur-bg">
        <h1>Hello EveryOne</h1>
        <h2>Welcome to this BLOG community</h2>
        <p>
          My name is <%= name %> <br />
          My name is <%= lastname %> <br />
          &<br />
          I am the developer of this community.
        </p>
      </div>
    </div>
  </body>
</html>
