<nav>
  <div class="logo">
    <h1>CloveS BLOG</h1>
    <p>A place to create or share experience :)</p>
  </div>
  <ul class="nav-links">
    <li class="nav-link"><a href="/">Home</a></li>
    <li class="nav-link"><a href="/blogs">Blogs</a></li>
    <li class="nav-link"><a href="/create">Create</a></li>
    <li class="nav-link"><a href="/about">About</a></li>
  </ul>
</nav>

<div class="hr"></div>
